# Root
node_modules
scripts
infrastructure

# Environment (contains sensitive data)
.env
.env.dev
.env.example

# Files not required for production
.editorconfig
.prettierrc
.eslintrc.js
.dockerignore
*.log
README.md

# Subdirs
**/dist
**/node_modules
**/.DS_Store
**/.env
**/.env.example
