auto-install-peers=true
link-workspace-packages=true
# strict-peer-dependencies=false
public-hoist-pattern[]=tmp*
public-hoist-pattern[]=bunyan-pretty-cli*
public-hoist-pattern[]=nodemon*
public-hoist-pattern[]=quill*
public-hoist-pattern[]=eventemitter*
public-hoist-pattern[]=events*

# Patch for Nuxt pnpm support
# ----------------------------------------------
# Added following dev deps (included in Nuxt):
# - vue
# - vue-router
# - ufo
# - node-fetch-native
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=@nuxt*
public-hoist-pattern[]=ofetch
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*nuxt*
public-hoist-pattern[]=defu
public-hoist-pattern[]=ufo
public-hoist-pattern[]=consola
